@import '../_variables.scss';


.el-input__inner{
  background-color: white;
}

.el-input__inner {
  height: 40px;
}

.el-textarea__inner, .el-input__inner, .text-disabled {
  border-radius: 3px;
  background: white;
  color: $gray_4;
  font-family: $system-font;
  padding: 0 16px;
  resize: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::placeholder {
    color: $gray_4;
  }
  .el-form-item.is-success & {
    border-color: $gray_2;
  }
  .is-disabled &, &.text-disabled {
    background: $gray_1;
    border-color: $gray_2 !important;
  }
}