@use '../../styles/theme';

.el-message {
  background: theme.$info-color;
  border: none;
  box-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.2);
  color: theme.$white;
  top: 8px;
  width: 480px;
  padding: 8px 16px;

  & a {
    color: white;
    text-decoration: underline;
  }

  &.with-header {
    top: 58px;
  }
  &.width-auto {
    width: auto;
  }
  &.el-message--success {
    background: theme.$success-color
  }
  &.el-message--error {
    background: theme.$error-color
  }
  &.el-message--message {
    background: theme.$info-color
  }
  .icon-message, .el-message__icon {
    display: none;
  }
}
.el-message__content {
  color: theme.$white !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.el-message__closeBtn {
  color: theme.$white;
  &:hover {
    color: $white;
    opacity: .7
  }
}
