@import '../_variables.scss';

.el-dialog {
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25), 0 28px 41px 0 rgba(33,43,54,0.2);

}
.el-dialog__body {
  line-height: inherit;
  word-break: normal;
}
.el-dialog__header, .el-dialog__body {
  padding: 24px 32px;
  margin: 0;

}

.el-dialog {
  &.fixed-width {
    width: 540px
  }

  &.light-header {
    .el-dialog__header {
      background: $white;
      color: $gray_6;
    }
  }
  .el-dialog__header {
    background: $purple_2;
    color: $white;


  }


}

.add-property-dialog {
  .el-dialog__header {
    align-items: flex-start;
    background: $purple_2;
    color: $white;
    padding: 24px 24px 0 24px;
  }

}

.el-dialog__footer {
  border-top: 1px solid $gray_2;
  text-align: left;
  padding: 16px 32px;
}
.dialog-footer {
  display: flex;
  flex-direction: row;
  &.center {
    justify-content: center;
  }
}
.el-dialog__footer .bf-button {
  margin-right: 8px !important;
  &:last-child {
    margin-right: 0 !important
  }
}
.dialog-msg {
  color: $gray_4;
  padding: 0 8px;
  text-align: center;
  .dialog-msg-icon {
    color: $green_1;
    margin-bottom: 8px;
  }
  h3 {
    color: $text-color;
    font-size: 14px;
    margin: 0 0 8px;
  }
}

.el-dialog__wrapper.simple {
  .el-dialog {
    padding: 0;
  }
  .el-dialog__header {
    border: none;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .el-dialog__body {
    padding: 0;
  }
}

.el-dialog_carousel {
  width: 860px;
  height: 669px;
}

