@import '../_variables.scss';


.el-input__inner{
  background-color: white;
}


.no-shadow {
  .el-input__wrapper {
    box-shadow:none;
    border: 2px solid $gray_1;
  }
}

.el-input__wrapper{
  height: 42px;
}
.el-input__inner {
  height: 40px;
}
.el-select__wrapper{
  height: 42px;
  width: 243px;
}
.el-textarea__inner {
  &.single-line {
    height: 40px;
  }
}

.el-textarea__inner, .el-input__inner, .text-disabled {
  border-radius: 3px;
  background: white;
  color: $gray_4;
  font-family: $system-font;
  padding: 8px 16px;
  resize: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::placeholder {
    color: $gray_4;
  }
  .el-form-item.is-success & {
    border-color: $gray_2;
  }
  .is-disabled &, &.text-disabled {
    background: $gray_1;
    border-color: $gray_2 !important;
  }
}