@use '../../styles/theme';

.el-checkbox {
    color: theme.$gray_5;
    font-weight: 300;
    font-size: 14px;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: theme.$gray_6;
}

.long-label {
  display: flex;
  :deep( .el-checkbox__input) {
    margin-top: 3px;
  }
}
