@use '../theme';

:deep(.el-checkbox) {
  --el-checkbox-checked-bg-color: #{theme.$purple_2};
  --el-checkbox-input-border-color-hover: #{theme.$orange_1};
  --el-checkbox-checked-input-border-color:  #{theme.$purple_2};
  --el-checkbox-checked-text-color: #{theme.$purple_2};
}